.board{
    position: fixed;
    left: 15vw;
    top:8vh;
    background-color:#92140c;
    height: 92vh;
    width: 85vw;
    z-index: -1;


    .defaultBoard{
        width: 100%;
        height: 100%;
        margin-top: -5vh;
        background-color:#92140c;
        padding-top: 5vh;
        .content{
            background-color:#262627 ;
            width: 50%;
            border-radius: 20px;
            padding: 4%;margin-top: 20vh;
            margin-left: 20%;
            color: aliceblue;
            p{
                width: 100%;
                text-align: center;
            }
            .p1{
                font-size: 6vh;
            }
            .p2{
                font-size: 3vh;
            }

        }
    }
    .cards{
        margin-top: 0%;
        display: flex;
        flex-direction: row;
        flex: 5;
        height: 100%;
        width: 100%;
        background-color:#92140c;
        overflow-y: scroll;
        height: 88%;
        flex-wrap: wrap;

        .card{
            height: max-content;
            padding-left: 1%;
            padding-right: 1%;
            padding-bottom: 1%;
            background-color:#1e1e24;
            margin: 1%;
            border-radius: 15px;
            min-width: 15%;
            max-width: 20%;
            color: aliceblue;



            input{
                background-color: transparent;
                border-top: none;
                border-left: none;
                border-right: none;
                height: 100%;
                width: 90%;
                margin-left: 5%;
                margin-top: 5%;
                padding-bottom: 3%;
                color: aliceblue;
                // height: 200px;
            }
            input:focus {
                outline: none; /* Remove the default focus outline */
            }
            .cardHeading{
                background-color: transparent;
                font-size: 3vh;
                display: flex;

                p{
                    margin-right: 50%;
                }
                button{
                    font-size: 25px;
                    background-color: transparent;
                    color: aliceblue;
                    border: none;
                    cursor: pointer;
                    transition: 0.3s ease;
                }
                button:hover{
                    color: white;
                }
            }
            .message{
                margin: 1%;
                padding-left: 3%;
                padding-right: 3%;
                border-radius: 7px;
                color:aliceblue;
                background-color:#2f2f35;
                font-weight: 600;
                display: flex;

                input{
                    background-color: transparent;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    height: 100%;
                    width: 90%;
                    margin-left: 5%;
                    margin-top: 3%;
                    padding-bottom: 3%;
                    color: aliceblue;
                    // height: 200px;
                }
                input:focus {
                    outline: none; /* Remove the default focus outline */
                }
                .editMess{
                    background-color: transparent;
                    border: none;
                    border-radius: 15px;
                    font-size: 20px;
                    width: 15%;
                    margin-left: 2%;
                    color: aliceblue;
                }
                .editMess:hover{
                    color: #1e1e24;
                    cursor: pointer;
                }
                p{
                    width: 80%;
                    font-size: 2vh;
                }

                .options{
                    height: max-content;
                    position: absolute;
                    margin-left: 16%;
                    margin-top: -1.5vh;
                    width: 10%;
                    border-radius: 10px;
                    padding-left: 1%;
                    padding-right: 1%;
                    background-color:black;
                    z-index: 3;
                    display: flex;
                    flex-direction: column;
                    color:aliceblue;

                    .cardsList{
                        background-color:#2f2f35;
                        padding: 4%;
                        border-radius: 7px;
                    }
                    .cardsList:hover{
                        background-color: #262627;
                    }
                }
                // .options:hover{
                //     background-color: #cfc5b9;
                //     cursor: pointer;
                // }
            }
            .message:hover{
                background-color:darkgrey;
                cursor: pointer;
                color: #1e1e24;
            }
            .addMessage{
                background-color: transparent;
                border: none;
                width: 100%;
                cursor: pointer;
                color: aliceblue;
                height: 5vh;
                border-radius: 15px;
                margin-top: 2%;
            }
            .addMessage:hover{
                background-color: #2f2f35;
            }
        }
    }
    .heading{
        font-size: 5vh;
        background-color: rgba(0, 0, 0, 0.737);
        margin: 0%;
        padding: 1%;
        padding-left: 4%;
        color: aliceblue;
        height: 8%;
    }
    .addCard{
        width: 15%;
        margin: 1%;
        background-color: rgba(255, 255, 255, 0.49);
        height: 6%;
        border: none;
        border-radius: 10px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .addCard:hover{
        background-color: rgba(240, 248, 255, 0.783);
    }
}

@media only screen and (max-width:768px){
    .board{
        position: fixed;
        left: 0;
        top:8vh;
        background-color:#92140c;
        height: 100vh;
        width: 100vw;
        z-index: -1;
    
    
        .defaultBoard{
            width: 100%;
            height: 100%;
            margin-top: -5vh;
            background-color:#92140c;
            padding-top: 5vh;
            .content{
                background-color:#262627 ;
                width: 50%;
                border-radius: 20px;
                padding: 4%;
                margin-top: 35vh;
                margin-left: 25%;
                color: aliceblue;
                p{
                    width: 100%;
                    text-align: center;
                }
                .p1{
                    font-size: 6vh;
                }
                .p2{
                    font-size: 3vh;
                }
    
            }
        }
        .cards{
            margin-top: 0%;
            display: flex;
            flex-direction: row;
            flex: 5;
            height: 83%;
            width: 100vw;
            background-color:#92140c;
            overflow-y: scroll;
            flex-wrap: wrap;
            padding-bottom: 5%;
    
            .card{
                height: max-content;
                padding-left: 3%;
                padding-right: 3%;
                background-color:#1e1e24;
                margin: 1%;
                border-radius: 15px;
                min-width: 40%;
                color: aliceblue;

    
    
    
                input{
                    background-color: transparent;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    height: 100%;
                    width: 90%;
                    margin-left: 5%;
                    margin-top: 5%;
                    padding-bottom: 3%;
                    color: aliceblue;
                    // height: 200px;
                }
                input:focus {
                    outline: none; /* Remove the default focus outline */
                }
                .cardHeading{
                    background-color: transparent;
                    font-size: 2vh;
                    display: flex;
    
                    p{
                        margin-right: 55%;
                    }
                    button{
                        font-size: 20px;
                        background-color: transparent;
                        color: aliceblue;
                        border: none;
                        cursor: pointer;
                        transition: 0.3s ease;
                    }
                    button:hover{
                        color: white;
                    }
                }
                .message{
                    margin: 1%;
                    padding-left: 3%;
                    padding-right: 3%;
                    border-radius: 7px;
                    color:aliceblue;
                    background-color:#2f2f35;
                    font-weight: 600;
                    display: flex;
                    font-size: 1.8vh;
    
                    input{
                        background-color: transparent;
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        height: 100%;
                        width: 90%;
                        margin-left: 5%;
                        margin-top: 3%;
                        padding-bottom: 3%;
                        color: aliceblue;
                        // height: 200px;
                    }
                    input:focus {
                        outline: none; /* Remove the default focus outline */
                    }
                    .editMess{
                        background-color: transparent;
                        border: none;
                        border-radius: 15px;
                        font-size: 20px;
                        width: 15%;
                        margin-left: 2%;
                        color: aliceblue;
                    }
                    .editMess:hover{
                        color: #1e1e24;
                        cursor: pointer;
                    }
                    p{
                        width: 80%;
                        font-size: 1.8vh;
                    }
    
                    .options{
                        height: max-content;
                        position: absolute;
                        margin-left: 16%;
                        margin-top: -1.5vh;
                        width: 10%;
                        border-radius: 10px;
                        padding-left: 1%;
                        padding-right: 1%;
                        background-color:black;
                        z-index: 3;
                        display: flex;
                        flex-direction: column;
                        color:aliceblue;
    
                        .cardsList{
                            background-color:#2f2f35;
                            padding: 4%;
                            border-radius: 7px;
                        }
                        .cardsList:hover{
                            background-color: #262627;
                        }
                    }
                    // .options:hover{
                    //     background-color: #cfc5b9;
                    //     cursor: pointer;
                    // }
                }
                .message:hover{
                    background-color:darkgrey;
                    cursor: pointer;
                    color: #1e1e24;
                }
                .addMessage{
                    background-color: transparent;
                    border: none;
                    width: 100%;
                    cursor: pointer;
                    color: aliceblue;
                    height: 5vh;
                    border-radius: 15px;
                    margin-top: 2%;
                }
                .addMessage:hover{
                    background-color: #2f2f35;
                }
            }
        }
        .heading{
            font-size: 5vh;
            background-color: rgba(0, 0, 0, 0.737);
            margin: 0%;
            padding: 1%;
            padding-left: 4%;
            color: aliceblue;
            height: 8%;
        }
        .addCard{
            width: 45%;
            margin: 1%;
            background-color: rgba(255, 255, 255, 0.49);
            height: 6%;
            border: none;
            border-radius: 10px;
            font-weight: 500;
            cursor: pointer;
            transition: 0.3s ease;
        }
        .addCard:hover{
            background-color: rgba(240, 248, 255, 0.783);
        }
    }
}